#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.img {
  max-width: 24em;
}

.card:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.card.react:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

.card {
  margin: 0 auto;
  padding: 2em;
  max-width: 24em;
  display: grid;
  background-color: rgb(29, 29, 29);
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 2em;
  text-align: start;
}

.preview {
  max-width: fit-content;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-links {
  padding: 2em;
}

.my-links a {
  padding: 1em;
}

p {
  margin: 0 auto;
  max-width: 24em;
}
